<div id="about-me" fxLayout="column" fxFlex>
  <div fxLayout="row" fxFlex>
    <div fxLayout="column" fxFlex="1 1 50%" fxLayoutAlign="center center">
    <img src="../../assets/me.jpeg">
    </div>
    <div fxLayout="column" fxFlex="1 1 50%" fxLayoutAlign="center center" class="text-box">
      <h1>Sarah Frederick OTR/L</h1>
      <p>I graduated with a B.S. in Community Health and received Master’s in Occupational Therapy, in 2016, from Florida Gulf Coast University.  Since the completion of graduate school, I have served the Fort Myers community.</p>
      <br>
      <p>Tourettes Syndrome (TS) hits close to home for me. My younger sister was diagnosed with TS and my family soon discovered how limited the community treatment options were for her. I was immediately drawn to the Comprehensive Behavioral Intervention for Tics (CBIT) program in hopes to be able to fill that need for many children and families. In 2020, with the Tourettes Association of America and some amazing mentors,  I became certified in Comprehensive Behavioral Intervention for Tics (CBIT).  After completion of the program, I soon opened Ascend Therapy and am looking to serving individuals with tic disorders, TS, and other co-occuring conditions.</p>
    </div>
  </div>
</div>
