#contact-me {
  background: #3FC0C9;
  width: 100%;
  min-height: 100vh;
  color: white;
  display: inline-block;
  padding-bottom: 25px;

  p {
    margin-top: 27px;
  }

  .text-box {
    font-size: 1.300em;
  }

  input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-weight: 100;
    font-size: 15px;
  }

  textarea {
    min-width: 500px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: none;
    font-weight: 100;
    font-size: 15px;
  }

  button {
    width: 100%;
    height: 50px;
    background: #39516D;
    color: white;
    font-weight: 100;
    font-size: 15px;
  }
}
