<!--<div id="resources" fxLayout="column" fxLayoutAlign="center center">-->
<!--  <div fxLayout="column" fxFlex.gt-md="1 1 50%" fxLayoutAlign="center center" class="text-box">-->
<!--    <h1>Resources</h1>-->
<!--    <div>-->
<!--      <h3>Websites</h3>-->
<!--      <a href="https://tourette.org/" target="_blank">Tourette Association of America</a>-->
<!--      <br>-->
<!--      <a href="https://leakybrakes.ca/brake-shop/brake-shop-virtual-clinic/" target="_blank">Child & Parent Resource Institute</a>-->
<!--    </div>-->
<!--    <div>-->
<!--      <h3>Books</h3>-->
<!--      <p>Tic Talk: Living with Tourette Syndrome: A 9-Year Old Boy's Story in His Own Words <b>By Dylan Peters</b> (<a href="https://www.amazon.com/Tic-Talk-Living-Tourette-Syndrome/dp/1589851625/ref=sr_1_1?crid=1IICG8HFDTCW0&keywords=TIC+TALK%3A+LIVING+WITH+TOURETTE+SYNDROME%3A+A+9+YEAR+OLD+BOYS+STORY+IN+HIS+OWN+WORDS+BY+DYLAN+PETERS&qid=1654355946&sprefix=tic+talk+living+with+tourette+syndrome+a+9+year+old+boys+story+in+his+own+words+by+dylan+peters%2Caps%2C99&sr=8-1" target="_blank">Amazon</a>)</p>-->
<!--      <p>My Nonidentical Twin: What I'd Like You to Know About Living With Tourette's <b>By Evie Meg</b> (<a href="https://www.amazon.com/My-Nonidentical-Twin-Living-Tourettes/dp/075158407X/ref=tmm_pap_swatch_0?_encoding=UTF8&qid=1654355913&sr=8-1" target="_blank">Amazon</a>)</p>-->
<!--      <p>Tourette Syndrome: Stop Your Tics by Learning What Triggers Them <b>By Sheila Rogers Demare</b> (<a href="https://www.amazon.com/Tourette-Syndrome-Stop-Learning-Triggers/dp/0976390922/ref=sr_1_1?crid=398YLBPOTWCRN&keywords=TOURETTE+SYNDROME%3A+STOP+YOUR+TICS+BY+LEARNING+WHAT+TRIGGERS+THEM+BY+SHEILA+ROGERS+DEMARE&qid=1654355869&sprefix=tourette+syndrome+stop+your+tics+by+learning+what+triggers+them+by+sheila+rogers+demare%2Caps%2C84&sr=8-1" target="_blank">Amazon</a>)</p>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<div id="resources" fxLayout="column" fxLayoutAlign="center center">
    <div fxLayout="column" fxFlex.gt-md="1 1 50%" fxLayoutAlign="center center" class="text-box">
      <h1>Resources</h1>
      <div>
        <h3>Websites</h3>
        <a href="https://tourette.org/" target="_blank">Tourette Association of America</a>
        <br>
        <a href="https://leakybrakes.ca/brake-shop/brake-shop-virtual-clinic/" target="_blank">Child & Parent Resource Institute</a>
      </div>
      <div>
        <h3>Books</h3>
        <p>Tic Talk: Living with Tourette Syndrome: A 9-Year Old Boy's Story in His Own Words <b>By Dylan Peters</b> (<a href="https://www.amazon.com/Tic-Talk-Living-Tourette-Syndrome/dp/1589851625/ref=sr_1_1?crid=1IICG8HFDTCW0&keywords=TIC+TALK%3A+LIVING+WITH+TOURETTE+SYNDROME%3A+A+9+YEAR+OLD+BOYS+STORY+IN+HIS+OWN+WORDS+BY+DYLAN+PETERS&qid=1654355946&sprefix=tic+talk+living+with+tourette+syndrome+a+9+year+old+boys+story+in+his+own+words+by+dylan+peters%2Caps%2C99&sr=8-1" target="_blank">Amazon</a>)</p>
        <p>My Nonidentical Twin: What I'd Like You to Know About Living With Tourette's <b>By Evie Meg</b> (<a href="https://www.amazon.com/My-Nonidentical-Twin-Living-Tourettes/dp/075158407X/ref=tmm_pap_swatch_0?_encoding=UTF8&qid=1654355913&sr=8-1" target="_blank">Amazon</a>)</p>
        <p>Tourette Syndrome: Stop Your Tics by Learning What Triggers Them <b>By Sheila Rogers Demare</b> (<a href="https://www.amazon.com/Tourette-Syndrome-Stop-Learning-Triggers/dp/0976390922/ref=sr_1_1?crid=398YLBPOTWCRN&keywords=TOURETTE+SYNDROME%3A+STOP+YOUR+TICS+BY+LEARNING+WHAT+TRIGGERS+THEM+BY+SHEILA+ROGERS+DEMARE&qid=1654355869&sprefix=tourette+syndrome+stop+your+tics+by+learning+what+triggers+them+by+sheila+rogers+demare%2Caps%2C84&sr=8-1" target="_blank">Amazon</a>)</p>
      </div>
    </div>
</div>

