<div id="faq" fxLayout="column">
  <div fxLayout="row" fxFlex>
    <div fxLayout="column" fxFlex="1 1 50%">
      <div>
        <h1>Websites</h1>
        <a href="https://tourette.org/" target="_blank">Tourette Association of America</a>
        <br>
        <a href="https://leakybrakes.ca/brake-shop/brake-shop-virtual-clinic/" target="_blank">Child & Parent Resource Institute</a>
      </div>
      <div>
        <h1>Books</h1>
        <!--https://www.amazon.com/Tic-Talk-Living-Tourette-Syndrome/dp/1589851625/ref=sr_1_1?crid=1IICG8HFDTCW0&keywords=TIC+TALK%3A+LIVING+WITH+TOURETTE+SYNDROME%3A+A+9+YEAR+OLD+BOYS+STORY+IN+HIS+OWN+WORDS+BY+DYLAN+PETERS&qid=1654355946&sprefix=tic+talk+living+with+tourette+syndrome+a+9+year+old+boys+story+in+his+own+words+by+dylan+peters%2Caps%2C99&sr=8-1-->
        <a href="https://tourette.org/" target="_blank">TIC TALK: LIVING WITH TOURETTE SYNDROME: A 9 YEAR OLD BOYS STORY IN HIS OWN WORDS BY DYLAN PETERS</a>
        <br>
        <!--https://www.amazon.com/My-Nonidentical-Twin-Living-Tourettes/dp/075158407X/ref=tmm_pap_swatch_0?_encoding=UTF8&qid=1654355913&sr=8-1-->
        <a href="https://leakybrakes.ca/brake-shop/brake-shop-virtual-clinic/" target="_blank">MY NON-IDENTICAL TWIN BY EVIE MEG</a>
        <br>
        <!--https://www.amazon.com/Tourette-Syndrome-Stop-Learning-Triggers/dp/0976390922/ref=sr_1_1?crid=398YLBPOTWCRN&keywords=TOURETTE+SYNDROME%3A+STOP+YOUR+TICS+BY+LEARNING+WHAT+TRIGGERS+THEM+BY+SHEILA+ROGERS+DEMARE&qid=1654355869&sprefix=tourette+syndrome+stop+your+tics+by+learning+what+triggers+them+by+sheila+rogers+demare%2Caps%2C84&sr=8-1 -->
        <a href="https://leakybrakes.ca/brake-shop/brake-shop-virtual-clinic/" target="_blank">TOURETTE SYNDROME: STOP YOUR TICS BY LEARNING WHAT TRIGGERS THEM BY SHEILA ROGERS DEMARE</a>
      </div>
    </div>
  </div>
</div>
