#resources {
  background: #9ECFCB;
  width: 100%;
  min-height: 100vh;
  color: white;
  display: inline-block;

  .text-box {
    line-height: 30px;
    font-size: 1.300em;
    padding-left: 30px;
    padding-right: 30px;
  }
  a {
    color: white;
  }
}

