<div id="side-nav-bar">
  <div fxFlex="1 1 50%" fxLayout="column" class="side-nav-container">
    <button class="side-nav-button" fxFlex="1 1 20%" fxLayout="row" (click)="goToHome()">Home</button>
    <button class="side-nav-button" fxFlex="1 1 20%" fxLayout="row" (click)="goToAboutMe()">About</button>
    <button class="side-nav-button" fxFlex="1 1 20%" fxLayout="row" (click)="goToServices()">Services</button>
    <button class="side-nav-button" fxFlex="1 1 20%" fxLayout="row" (click)="gotToResources()">Resources</button>
    <button class="side-nav-button" fxFlex="1 1 20%" fxLayout="row" (click)="gotToContactUs()">Contact Us</button>
  </div>
</div>
