<!--The content below is only a placeholder and can be replaced.-->
<div id="portfolio">
  <div id="homeComponent" class="profile">
    <app-profile></app-profile>
  </div>
  <div class="nav-bar" #navBarComponent>
    <app-nav-bar [class.sticky] = "stickNavBarToTop"
                 (homeClicked)="scrollIntoView('homeComponent')"
                 (aboutMeClicked)="scrollIntoView('aboutMeComponent')"
                 (servicesClicked)="scrollIntoView('servicesComponent')"
                 (resourcesClicked)="scrollIntoView('resourcesComponent')"
                 (contactUsClicked)="scrollIntoView('contactUsComponent')"></app-nav-bar>

    <app-about-me id="aboutMeComponent"></app-about-me>
    <app-services id="servicesComponent"></app-services>
    <app-resources id="resourcesComponent"></app-resources>
    <app-contact-us id="contactUsComponent"></app-contact-us>
  </div>
</div>
