#nav-bar {
  height: 50px;
  width: 100%;
  background: #39516D;

  .nav-button {
    background: none;
    align-items: center;
    color: white;
    padding-top: 15px;
    font-weight: 100;
    font-size: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    white-space: nowrap;
  }

  .nav-button:hover {
    background: #39506b;
    opacity:0.5;
  }
}
