<div id="nav-bar">
  <div fxFlex="1 1 100%" fxLayout="row">
    <button class="nav-button" fxFlex="1 1 20%" fxLayout="column" (click)="goToHome()">Home</button>
    <button class="nav-button" fxFlex="1 1 20%" fxLayout="column" (click)="goToAboutMe()">About</button>
    <button class="nav-button" fxFlex="1 1 20%" fxLayout="column" (click)="goToServices()">Services</button>
    <button class="nav-button" fxFlex="1 1 20%" fxLayout="column" (click)="gotToFAQ()">FAQ</button>
    <button class="nav-button" fxFlex="1 1 20%" fxLayout="column" (click)="gotToContactMe()">Contact</button>
  </div>
</div>
