<div id="services" fxLayout="column" fxFlex>
  <div fxLayout="row" fxFlex>
    <div fxLayout="column" fxFlex="1 1 50%" fxLayoutAlign="center center" class="text-box">
      <h1>Services</h1>
      <p><b>Comprehensive Behavioral Intervention for Tics</b> (CBIT) is the most successful non-drug intervention treatment for tic disorders and Tourettes Syndrome. It consists of the individual becoming more aware of the tics, implementing a competing response with feeling the urge to tic, and making environmental modifications to reduce tics.</p>
      <br>
      <p>CBIT will take place through a Telehealth platform once a week over 8 to 10 sessions for about 45 minutes to 1 hour.  This timeframe is flexible depending on the needs of the family. The first sessions are used as awareness training for tics and learning identify the urge to tic. Once that is mastered,  the individual with learn “competing responses” that will be practiced consistently throughout the day. Consistence and repetition is necessary for the success of CBIT. The last step of CBIT is brainstorming situations that might worsen tics and modifying the environment so tics are made worse unnecessarily.</p>
    </div>
    <div fxLayout="column" fxFlex="1 1 50%" fxLayoutAlign="center center">
      <img src="../../assets/me.jpeg">
    </div>
  </div>
</div>

