/* You can add global styles to this file, and also import other style files */
html {
  background: blue;
  background-size: cover;
  font-family: 'Helvetica Neue', sans-serif;
}

body {
  margin: 0;
}
