/* You can add global styles to this file, and also import other style files */
html {
  background: url("../../tourette-therapy-website/src/assets/background.jpg") no-repeat center fixed;
  background-size: cover;
  font-family: 'Helvetica Neue', sans-serif;
}

body {
  margin: 0;
}
